.mouse {





}

.mouse::before {

}
.mouse::after {




    animation-name: scroll;
    animation-iteration-count: infinite;
    animation-duration: 1,3s;

}

@keyframes scroll {
  0% {
    top: 30px;
    background-color: #fff

  }
  50% {
    background-color: #fff;
  }
  100% {
    top: 140px;
    background-color: #f00;

  }
}
